.bodycolor{
    background-color: gray;
    position: relative;
    width: 1235px;
    opacity: 0.9;
    left: 350px;
    height: 513px;
    margin-top:15px ;
    
}
.modal-bg{
    background-color: white !important;
    position: relative;
    top: 50px;
    /* background-color: gainsboro; */
    width: 400px;
    height: 400px;
    margin: auto;
}
.first-input{
    position: absolute;
    top: 30px;
    left:70px ;
}
.heading{
    position: relative;
    bottom: 100px;
}
.headings{
    position: relative;
    bottom: 15px;
}
.headingss{
    position: relative;
    bottom: 50px;
}
.headingsss{
    position: relative;
    bottom: 75px;
}
.heading-ones{
    position: relative;
    bottom: 60px;
}
.heading-oness{
    position: relative;
    bottom: 85px;
}
.heading-one{
    position: relative;
    bottom: 30px;
}
.btn{
    position: relative;
    bottom: 50px;
    right: 130px;
    background-color: rgb(151, 173, 166);
}
